*{
    margin: 0;
    padding: 0;
   
}
body{
    width: 100%;
    height: 100%;
     background-image: url("bg.jpg");
}

.NewForm p{
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
}
label{
    display: block;
    font-size: 1.3em;
    margin-top: 3px;
    padding: 2px;
}
.NewForm {
    position: relative;
    display: block;
    text-align: center;
}
.NewForm input[type="button"]{
    display: block;
    text-align: center;
    padding: 5px;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid #EEE685;
    color: black;
    background-color: #EEE685; 
}
.NewForm input{
    display: block;
    width: 20%;
    font-size: 1em;
    color: #444444;
    border: 2px solid #FFDEAD;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    text-align: left;
    display: block;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.ErrorBox{
    color: blue;
    display: block;
    height: 15px;
    font-size: 1em;
}
.NewForm input:focus{
    outline: none;
    border-color: #07a6e6;
{