body{
  height: 2000px;
}
#field{
    width: 400px;
	height: 400px;
	border: 1px groove black;
	background-color: #00FF00;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
#ball{
    position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
    -o-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;

}