h1{
color: #000;
font-size: 42px;
position: relative;
margin-top:1%;
text-align: center;
}

h2{
color: #000;
}

h3{
color: #000;
}

body{
background-image: #000
}
#help{
	position: relative;
    text-align: center;
    font-size: 20px;
}
#input{
    position: relative;
    text-align: center;
}
#button{
 	position: relative;
    text-align: center;
}
#output{
    padding: 0;
    position: relative;
    text-align: center;
    font-size: 40px;
}
#result{
    position: relative;
    text-align: center;
    color: #00f;
    font-size: 40px;
    margin-top:1%;
    margin-bottom: 2%;
}
#str{
    position: relative;
    text-align: center;
    font-size: 30px;
    color: #00f;
    font-weight:bold
}