body{
    background: aqua;
    background-size: cover;
	font-family: Verdana, Arial, "Times New Roman";
}

.h1{
    
	color: #c0c;
	text-align: center;
}

.h2{ 
   text-align: center;
   color: #ff0;
}

.p{
   text-align: center;
   color: #00f;
   font-size: 25pt;
   font-family: cursive;
}



